@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')

@require '~vuetify/src/stylus/main.styl'

.search-input
  max-width 480px
  min-width 200px

.f1
  flex 1

.f0
  flex 0 auto

.flex-end
  align-items flex-end
